@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lato";
  background-color: #f3f3f3;
  color: #333;
}

html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #229431;
  border-radius: 100px;
}

body {
  background-color: #f8f8f8;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  width: 98%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px 0 20px;
  height: 70px;
  background-color: #fff;
  z-index: 2;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 5px #00000012;
          box-shadow: 0 0 10px 5px #00000012;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scrolling-active {
  top: 0;
  width: 100%;
  border-radius: 0;
}

.logo-image {
  margin-left: 15px;
  height: 50px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 32px;
  cursor: pointer;
}

.menu__item:hover .menu__link {
  color: #229431;
}

.menu__item--contact {
  border-radius: 10px;
  background: #56ab2f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#60961e), to(#229431));
  background: linear-gradient(to left, #60961e, #229431);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px 30px;
  border: 2px solid #229431;
}

.menu__item--contact:hover {
  background: #fff;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.menu__link--contact {
  color: #f8f8f8;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  gap: 30px;
  overflow: hidden;
  background-color: #f3f3f3;
}

.contact__title {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.contact__more {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #f8f8f8;
  background: #56ab2f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#60961e), to(#229431));
  background: linear-gradient(to left, #60961e, #229431);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 5px #00000012;
          box-shadow: 0 0 20px 5px #00000012;
}

.contact__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 20px 5px #00000030;
          box-shadow: 0 0 20px 5px #00000030;
}

.contact__image {
  position: absolute;
  top: -10px;
  right: 5%;
  width: 30%;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #56ab2f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#4c7718), to(#14561c));
  background: linear-gradient(to left, #4c7718, #14561c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f8f8f8;
  height: 300px;
  padding: 40px 30px;
  overflow: hidden;
}

.logo-footer {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.logo-image-footer {
  display: block;
  margin: 0 auto;
  height: 30%;
}

.footer__icon {
  margin-right: 10px;
}

.contact-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.copyright {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.contact-data__title {
  font-size: 18px;
  font-weight: bold;
}

.foooter_address1 {
  font-size: 18px;
  font-weight: bold;
}

.footer__image {
  position: absolute;
  right: 1.5%;
  bottom: -55%;
  width: 10%;
}

.footer__image-link {
  width: 100%;
}

body {
  background-color: #fff;
}

.main-img-wrapper {
  position: relative;
  height: 70vh;
  top: -70px;
  left: 0;
  overflow: hidden;
}

.main-img__photo {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.features-section {
  background-color: #fff;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.features-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.features-description-1 {
  color: #229431;
  font-size: 32px;
}

.features-description-2 {
  margin-bottom: 100px;
}

.features-description-3 {
  text-align: center;
  color: #229431;
  font-size: 32px;
  margin-bottom: 10px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.feature {
  width: 70%;
  margin: 30px 0;
}

.feature__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #229431;
}

.feature__number-line {
  display: inline-block;
  height: 2px;
  width: 15px;
  background-color: #229431;
  border-radius: 10px;
}

.feature__title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}

.feature__text {
  font-size: 16px;
  line-height: 1.5;
  color: #535557;
}

.certificates-wrapper {
  margin: 100px 0;
}

.certificates-title {
  margin-bottom: 30px;
  text-align: center;
  color: #229431;
  font-size: 32px;
}

.splide {
  margin: 20px auto;
}

.splide__track {
  width: 80%;
  margin: 0 auto;
}

.splide__slide {
  text-align: center;
}

.swiper-slide__img {
  width: 60%;
  border-radius: 30px;
}

.slide-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.splide__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.arrow-svg path {
  fill: #229431;
}

.splide-button-next {
  color: #229431;
}

.splide__pagination__page {
  height: 15px;
  width: 15px;
  border: 2px solid #ddd;
}

.splide__pagination__page.is-active {
  background-color: #229431;
}

.splide {
  position: relative;
}

.splide__arrow {
  position: absolute;
}

.splide__arrow--prev {
  top: 40%;
  left: 140px;
}

.splide__arrow--next {
  top: 40%;
  right: 140px;
}
/*# sourceMappingURL=about-us.css.map */