@import "variables";
@import "base";
@import "layout/navigation";
@import "layout/contact";
@import "layout/footer";

body {
  background-color: #fff;
}

.main-img-wrapper {
  position: relative;
  height: 70vh;
  top: -70px;
  left: 0;
  overflow: hidden;
}

.main-img__photo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.features-section {
  background-color: #fff;
}

.features-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.features-description {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.features-description-1 {
  color: $main-color;
  font-size: 32px;
}

.features-description-2 {
  margin-bottom: 100px;
  @media (max-width: 700px) {
    font-size: 21px;
  }
}

.features-description-3 {
  text-align: center;
  color: $main-color;
  font-size: 32px;
  margin-bottom: 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1001px) {
    justify-content: space-around;
  }
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  @media (max-width: 1001px) {
    flex-basis: 40%;
  }
  @media (max-width: 650px) {
    flex-basis: 80%;
  }
}

.feature {
  width: 70%;
  margin: 30px 0;
  @media (max-width: 1001px) {
    width: 90%;
  }
}

.feature__number {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: $main-color;
}

.feature__number-line {
  display: inline-block;
  height: 2px;
  width: 15px;
  background-color: $main-color;
  border-radius: 10px;
}

.feature__title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
}

.feature__text {
  font-size: 16px;
  line-height: 1.5;
  color: #535557;
}

.certificates-wrapper {
  margin: 100px 0;
}

.certificates-title {
  margin-bottom: 30px;
  text-align: center;
  color: $main-color;
  font-size: 32px;
}

.splide {
  margin: 20px auto;
}

.splide__track {
  width: 80%;
  margin: 0 auto;
}

.splide__slide {
  text-align: center;
}

.swiper-slide__img {
  width: 60%;
  border-radius: 40px;
  overflow: hidden;
  @media (max-width: 700px) {
    width: 100%;
  }
}

.slide-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.splide__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.arrow-svg path {
  fill: $main-color;
}

.splide-button-next {
  color: $main-color;
}

.splide__pagination__page {
  height: 15px;
  width: 15px;
  border: 2px solid #ddd;
}

.splide__pagination__page.is-active {
  background-color: $main-color;
}

.splide {
  position: relative;
}

.splide__arrow {
  position: absolute;
}

.splide__arrow--prev {
  top: 40%;
  left: 140px;
  @media (max-width: 700px) {
    left: 10px;
  }
}

.splide__arrow--next {
  top: 40%;
  right: 140px;
  @media (max-width: 700px) {
    right: 10px;
  }
}
