@import "variables";
@import "base";
@import "layout/navigation";
@import "layout/contact";
@import "layout/footer";

.main-img-wrapper {
  position: relative;
  height: 75vh;
  top: -70px;
  left: 0;
  overflow: hidden;
  @media (max-width: 1026px) {
    height: 78vh;
  }
  @media (max-width: 870px) {
    height: 70vh;
  }
  @media (max-width: 680px) {
    height: 56vh;
  }
  @media (max-width: 550px) {
    height: 52vh;
  }
  @media (max-width: 410px) {
    height: 48vh;
  }
}

.main-img__photo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.contact-section-wrapper {
  width: 80%;
  margin: 0 auto;
  @media (max-width: 1025px) {
    width: 100%;
  }
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 5%;
  @media (max-width: 1025px) {
    gap: 8%;
  }
  @media (max-width: 950px) {
    padding: 0 50px;
    gap: 4%;
  }
  @media (max-width: 670px) {
    flex-direction: column;
    align-items: center;
  }
}

.contact-info {
  @media (max-width: 1001px) {
    margin-bottom: 60px;
  }
}

.contact__title {
  font-size: 50px;
  font-weight: 700;
  @media (max-width: 780px) {
    font-size: 40px;
  }
}

.contact-info__title {
  margin-bottom: 15px;
  color: $main-color;
  font-size: 40px;
  font-weight: 700;
  @media (max-width: 780px) {
    font-size: 30px;
  }
}

.mail,
.phone {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  @media (max-width: 780px) {
    font-size: 20px;
  }
}

.phone {
  margin-bottom: 30px;
}

.phone__link {
  text-decoration: none;
  color: inherit;
}

.company-name,
.google-maps,
.address {
  font-size: 18px;
  margin-bottom: 10px;
  color: $gray-color;
}

.google-maps {
  margin-top: 20px;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    color: $main-color;
  }
}

.google-maps__link {
  text-decoration: none;
  color: inherit;
}

.fa-map-marker-alt {
  margin-right: 5px;
}

.footer {
  justify-content: left;
}

.form-title {
  @media (max-width: 670px) {
    text-align: center;
  }
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.form-wrap {
  position: relative;
}

.input-item__label {
  position: absolute;
  top: 17px;
  left: 17px;
  transition: 0.3s;
  font-size: 16px;
}
.input-item {
  height: 60px;
  width: 400px;
  margin-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #bdc2c5;
  background-color: #f8f8f8;
  font-size: 16px;
  font-weight: 300;
  &:focus {
    outline: none;
    border-color: $main-color;
    color: $main-color;
  }
  @media (max-width: 950px) {
    width: 300px;
  }
}
.input-item--textarea {
  padding-top: 20px;
  height: 200px;
  font-family: Lato, Arial, sans-serif;
}

.input-item:focus + .input-item__label {
  transform: translateY(-42px);
  font-size: 14px;
}

.input-item:not(:placeholder-shown) + .input-item__label {
  transform: translateY(-42px);
  font-size: 14px;
}

.input-item--empty {
  border-color: rgb(163, 37, 37);
}

.form-wrap--checkbox {
  display: flex;
  align-items: center;
  width: 400px;
  font-size: 12px;
  margin-top: -30px;
  @media (max-width: 950px) {
    width: 300px;
  }
}
.input-checkbox {
  flex-basis: 10%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  @media (max-width: 950px) {
    margin-right: 10px;
  }

  &:checked {
    accent-color: $main-color;
  }
}

.checkcheck {
  accent-color: blue;
}

.input-checkbox-label {
  flex-basis: 90%;
  cursor: pointer;
}

.form-wrap-submit {
  display: flex;
  width: 400px;
  height: 50px;
  margin-bottom: 70px;
  gap: 20px;
  @media (max-width: 950px) {
    flex-direction: column;
    width: 300px;
    margin-bottom: 180px;
  }
}

.g-recaptcha {
  transform: scale(0.77);
  -webkit-transform: scal(0.77);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.form-btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #60961e,
    $main-color
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #60961e,
    $main-color
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 18px 48px;
  border: 2px solid $main-color;
  color: #f8f8f8;
  transition: 0.3s;
  font-size: 18px;
  font-family: Lato, arial, sans-serif;
  &:hover {
    background: #fff;
    color: $main-color;
  }
}
