@import "variables";
@import "base";
@import "layout/navigation";
@import "layout/contact";
@import "layout/footer";

.main-img-wrapper {
  position: relative;
  height: 75vh;
  top: -70px;
  left: 0;
  overflow: hidden;
  @media (max-width: 1026px) {
    height: 78vh;
  }
  @media (max-width: 870px) {
    height: 70vh;
  }
  @media (max-width: 680px) {
    height: 56vh;
  }
  @media (max-width: 550px) {
    height: 52vh;
  }
  @media (max-width: 410px) {
    height: 48vh;
  }
}

.main-img__photo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.footer {
  justify-content: left;
}
