.footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  // background-color: darken($main-color, 10%);
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4e7a18,
    darken($main-color, 15%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4c7718,
    darken($main-color, 15%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #f8f8f8;
  // height: 300px;
  padding: 40px 30px;
  overflow: hidden;
  @media (max-width: 870px) {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

.logo-footer {
  flex-basis: 40%;
  @media (max-width: 1025px) {
    flex-basis: 20%;
  }
  @media (max-width: 870px) {
    flex-basis: 100%;
  }
}

.logo-image-footer {
  display: block;
  margin: 0 auto;
  height: 30%;
  @media (max-width: 1025px) {
    height: 70px;
    margin-bottom: 30px;
  }
}

.footer__icon {
  margin-right: 10px;
}

.contact-data {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 480px) {
    flex-basis: 100%;
    font-size: 16px;
    margin-bottom: 55px;
  }
}

.footer-wrap {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
  @media (max-width: 1025px) {
    flex-basis: 80%;
  }
  @media (max-width: 870px) {
    flex-basis: 100%;
  }
  @media (max-width: 650px) {
    font-size: 14px;
    column-gap: 2%;
  }
  @media (max-width: 480px) {
    flex-wrap: wrap;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 480px) {
    flex-basis: 100%;
  }
}
.copyright {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.contact-data__title {
  font-size: 18px;
  font-weight: bold;
}

.foooter_address1 {
  font-size: 18px;
  font-weight: bold;
}

.footer__image {
  position: absolute;
  right: 1.5%;
  bottom: -55%;
  width: 10%;
  @media (max-width: 1450px) {
    bottom: -65%;
    right: 3.5%;
  }
  @media (max-width: 1025px) {
    bottom: -24%;
    right: 1.5%;
    width: 13%;
  }
  @media (max-width: 870px) {
    bottom: -48%;
    right: 4.5%;
    width: 19%;
  }
  @media (max-width: 480px) {
    bottom: -23%;
    right: 6.5%;
    width: 25%;
  }
}

.footer__image-link {
  width: 100%;
}

.footer-phone {
  text-decoration: none;
  color: inherit;
}
