body {
  background-color: #f8f8f8;
}

.main-header {
  display: flex;
  position: sticky;
  top: 10px;
  width: 98%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px 0 20px;
  height: 70px;
  background-color: #fff;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #00000012;
  transition: 0.3s;
}

.scrolling-active {
  top: 0;
  width: 100%;
  border-radius: 0;
}

.logo-image {
  margin-left: 15px;
  height: 50px;
}

.menu__list {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  height: 50px;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 32px;
  cursor: pointer;
  &:hover .menu__link {
    color: $main-color;
  }
}

.menu__item--contact {
  padding: 10px 20px;
  border: 2px solid $main-color;
  border-radius: 20px;
  &:hover {
    background-color: $main-color;
  }
  &:hover .menu__link--contact {
    color: white;
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 21px;
  transition: 0.25s;
}

.swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  top: -70px;
  left: 0;
  &-slide {
    background-color: lightblue;
    display: flex;
    align-items: center;
    font-size: 60px;
  }
}

.slide-1 {
  background-image: url("https://szymon-the-cat.github.io/Work-time-monitoring/assets/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-2 {
  background-image: url("https://szymon-the-cat.github.io/Work-time-monitoring/assets/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-3 {
  background-image: url("https://szymon-the-cat.github.io/Work-time-monitoring/assets/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  color: $main-color;
}

.swiper-button-next {
  color: $main-color;
}

.swiper-pagination-bullet {
  height: 20px;
  width: 20px;
  border: 2px solid #ddd;
}

.swiper-pagination-bullet-active {
  background-color: $main-color;
}

.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  padding: 20px;
  border: 2px solid $main-color;
  border-radius: 50%;
  margin: 0 20px 0 0;
  transition: 0.3s;
  fill: $main-color;
}

.svg__link {
  fill: $main-color;
}

.svg__money {
  stroke: $main-color;
}
.svg__color {
  stroke: $main-color;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
  row-gap: 5%;
  column-gap: 2%;
  background-color: #f8f8f8;
  margin-bottom: 150px;
}

.about-company {
  position: relative;
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 36px;
}

.about-comapny-tacho {
  color: $main-color;
}

.about-company-offer {
  grid-column: 1/-1;
  grid-row: 2;
  font-size: 19.5px;
}

.element {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  padding: 20px 30px 20px;
  box-shadow: 0 0 10px 5px #00000012;
  border-radius: 10px;
  transition: 0.3s;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: $main-color;
    color: white;
    transform: translateY(-10px);
    .svg {
      stroke: white;
      border-color: white;
    }
    .svg__link {
      fill: white;
    }
    .svg__money {
      stroke: white;
    }
    .svg__color {
      stroke: white;
    }
  }
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  flex-basis: 50%;
}

.description {
  padding: 0 30px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}

.show-more {
  padding: 10px 15px 0;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}

.news {
  background-color: #fff;
  padding: 100px 0 100px;
}

.news-wrapper {
  display: grid;
  grid-template-areas:
    "title title"
    "main small1"
    "main small2"
    "main small3";
  row-gap: 10px;
  margin: 0 auto;
}

.news__title {
  grid-area: title;
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
  justify-self: center;
}

.post {
  display: grid;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  &:hover .post__title {
    color: $main-color;
  }
}

.post--main {
  grid-area: main;
  grid-template-areas:
    "photo"
    "title"
    "text";
  justify-items: center;
  justify-self: right;
  // padding: 0 100px 0 0;
  border-right: 1px solid #ededed;
}

.post--small {
  // width: 500px;
  grid-template-areas: "photo text";
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #ededed;
}
.post1 {
  grid-area: small1;
}

.post2 {
  grid-area: small2;
}
.post3 {
  grid-area: small3;
  border-bottom: none;
}

.post__img-link {
  width: 100%;
  border-radius: 10px;
}

.post__img {
  grid-area: photo;
  width: 200px;
  margin-left: 30px;
  align-self: center;
}

.post__img--main {
  width: 570px;
  margin-bottom: 15px;
  flex-basis: auto;
  margin-right: 30px;
}

.text-wrapper {
  grid-area: text;
  margin-left: 30px;
}

.post__title {
  grid-area: title;
  font-size: 21px;
  margin-bottom: 10px;
  width: 50%;
  line-height: 1.3;
}

.post__title--main {
  width: 570px;
  font-size: 27px;
}

.post__text {
  width: 570px;
}

.date {
  margin-bottom: 15px;
  font-size: 14px;
  color: #696969;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  gap: 30px;
  overflow: hidden;
}

.contact__title {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.contact__more {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #f8f8f8;
  background-color: $main-color;
  font-weight: bold;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 0 0 20px 5px #00000012;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px 5px #00000030;
  }
}

.contact__envelope {
  position: absolute;
  top: -10px;
  right: 5%;
  width: 400px;
  opacity: 0.4;
  transform: rotate(-15deg);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: darken($main-color, 10%);
  color: #f8f8f8;
  height: 300px;
  padding: 40px 30px;
}

.logo-footer {
  flex-basis: 40%;
}

.logo-image-footer {
  display: block;
  margin: 0 auto;
  height: 30%;
}

.footer__icon {
  margin-right: 10px;
}

.contact-data {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-wrap {
  display: flex;
  flex-basis: 60%;
  justify-content: space-evenly;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.copyright {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.contact-data__title {
  font-size: 18px;
  font-weight: bold;
}

.foooter_address1 {
  font-size: 18px;
  font-weight: bold;
}
